# Lab | Pandas

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

The data includes information such as customer ID, state, gender, education, income, and other variables that can be used to perform various analyses.

Throughout the lab, we will be using the pandas library in Python to manipulate and analyze the data. Pandas is a powerful library that provides various data manipulation and analysis tools, including the ability to load and manipulate data from a variety of sources, including CSV files.

### Data Description

- Customer - Customer ID

- ST - State where customers live

- Gender - Gender of the customer

- Education - Background education of customers 

- Customer Lifetime Value - Customer lifetime value(CLV) is the total revenue the client will derive from their entire relationship with a customer. In other words, is the predicted or calculated value of a customer over their entire duration as a policyholder with the insurance company. It is an estimation of the net profit that the insurance company expects to generate from a customer throughout their relationship with the company. Customer Lifetime Value takes into account factors such as the duration of the customer's policy, premium payments, claim history, renewal likelihood, and potential additional services or products the customer may purchase. It helps insurers assess the long-term profitability and value associated with retaining a particular customer.

- Income - Customers income

- Monthly Premium Auto - Amount of money the customer pays on a monthly basis as a premium for their auto insurance coverage. It represents the recurring cost that the insured person must pay to maintain their insurance policy and receive coverage for potential damages, accidents, or other covered events related to their vehicle.

- Number of Open Complaints - Number of complaints the customer opened

- Policy Type - There are three type of policies in car insurance (Corporate Auto, Personal Auto, and Special Auto)

- Vehicle Class - Type of vehicle classes that customers have Two-Door Car, Four-Door Car SUV, Luxury SUV, Sports Car, and Luxury Car

- Total Claim Amount - the sum of all claims made by the customer. It represents the total monetary value of all approved claims for incidents such as accidents, theft, vandalism, or other covered events.

External Resources: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

## Challenge 1: Understanding the data

In this challenge, you will use pandas to explore a given dataset. Your task is to gain a deep understanding of the data by analyzing its characteristics, dimensions, and statistical properties.

- Identify the dimensions of the dataset by determining the number of rows and columns it contains.
- Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable. You should also provide suggestions for fixing any incorrect data types.
- Identify the number of unique values for each column and determine which columns appear to be categorical. You should also describe the unique values of each categorical column and the range of values for numerical columns, and give your insights.
- Compute summary statistics such as mean, median, mode, standard deviation, and quartiles to understand the central tendency and distribution of the data for numerical columns. You should also provide your conclusions based on these summary statistics.
- Compute summary statistics for categorical columns and providing your conclusions based on these statistics.

In [1]:
# Your code here
import pandas as pd
url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv'
data = pd.read_csv(url)
print(data.head())

  Customer          ST GENDER             Education Customer Lifetime Value  \
0  RB50392  Washington    NaN                Master                     NaN
1  QZ44356     Arizona      F              Bachelor              697953.59%
2  AI49188      Nevada      F              Bachelor             1288743.17%
3  WW63253  California      M              Bachelor              764586.18%
4  GA49547  Washington      M  High School or Below              536307.65%

    Income  Monthly Premium Auto Number of Open Complaints     Policy Type  \
0      0.0                1000.0                    1/0/00   Personal Auto
1      0.0                  94.0                    1/0/00   Personal Auto
2  48767.0                 108.0                    1/0/00   Personal Auto
3      0.0                 106.0                    1/0/00  Corporate Auto
4  36357.0                  68.0                    1/0/00   Personal Auto

   Vehicle Class  Total Claim Amount
0  Four-Door Car            2.704934
1  Four-Door Car         1131.464935
2   Two-Door Car          566.472247
3            SUV          529.881344
4  Four-Door Car           17.269323

In [3]:
data.shape

(4008, 11)

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4008 entries, 0 to 4007
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Customer                   1071 non-null   object
 1   ST                         1071 non-null   object
 2   GENDER                     954 non-null    object
 3   Education                  1071 non-null   object
 4   Customer Lifetime Value    1068 non-null   object
 5   Income                     1071 non-null   float64
 6   Monthly Premium Auto       1071 non-null   float64
 7   Number of Open Complaints  1071 non-null   object
 8   Policy Type                1071 non-null   object
 9   Vehicle Class              1071 non-null   object
 10  Total Claim Amount         1071 non-null   float64
dtypes: float64(3), object(8)
memory usage: 344.6+ KB

In [5]:
data["Customer Lifetime Value"].head(50)

0             NaN
1      697953.59%
2     1288743.17%
3      764586.18%
4      536307.65%
5      825629.78%
6      538089.86%
7      721610.03%
8     2412750.40%
9      738817.81%
10     473899.20%
11     819719.71%
12     879879.70%
13     881901.89%
14     538443.17%
15     746313.94%
16     256686.78%
17     394524.16%
18     571033.31%
19     816261.71%
20     287205.13%
21     617710.93%
22    2412750.40%
23     245019.10%
24     239210.79%
25     580206.60%
26     394637.21%
27     916206.32%
28    1290256.01%
29     323536.05%
30     245458.35%
31    1897545.61%
32     471532.13%
33     473787.17%
34     493291.63%
35     574422.97%
36    1389173.57%
37     738097.67%
38     309003.41%
39     252163.31%
40     265206.18%
41     277104.50%
42     393900.64%
43    1223187.97%
44     495165.61%
45    1281910.29%
46     446851.05%
47     551434.40%
48     334387.53%
49     229447.89%
Name: Customer Lifetime Value, dtype: object

In [6]:
# Convert the 'Customer Lifetime Value' column to float, handling any possible errors
data['Customer Lifetime Value'] = pd.to_numeric(data['Customer Lifetime Value'], errors='coerce')

# Fill the NaN values with the mean or median
mean_value = data['Customer Lifetime Value'].mean()

# You can choose to fill with mean 
data['Customer Lifetime Value'] = data['Customer Lifetime Value'].fillna(mean_value)

print(data['Customer Lifetime Value'].head())
print(data.dtypes)

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: Customer Lifetime Value, dtype: float64
Customer                      object
ST                            object
GENDER                        object
Education                     object
Customer Lifetime Value      float64
Income                       float64
Monthly Premium Auto         float64
Number of Open Complaints     object
Policy Type                   object
Vehicle Class                 object
Total Claim Amount           float64
dtype: object

In [7]:
data["Customer Lifetime Value"]

0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
        ..
4003   NaN
4004   NaN
4005   NaN
4006   NaN
4007   NaN
Name: Customer Lifetime Value, Length: 4008, dtype: float64

In [8]:

# Identify the number of unique values for each column
unique_values = data.nunique()

# Determine which columns appear to be categorical
categorical_columns = data.select_dtypes(include=['object', 'category']).columns

# Describe the unique values of each categorical column and the range of values for numerical columns
categorical_descriptions = {col: data[col].unique() for col in categorical_columns}
numerical_ranges = data.describe()

print("Number of Unique Values for Each Column:")
print(unique_values)
print("\nCategorical Columns and Their Unique Values:")
for col, unique_vals in categorical_descriptions.items():
    print(f"{col}: {unique_vals}")
print("\nRange of Values for Numerical Columns:")
print(numerical_ranges)

Number of Unique Values for Each Column:
Customer                     1071
ST                              8
GENDER                          5
Education                       6
Customer Lifetime Value         0
Income                        774
Monthly Premium Auto          132
Number of Open Complaints       6
Policy Type                     3
Vehicle Class                   6
Total Claim Amount            761
dtype: int64

Categorical Columns and Their Unique Values:
Customer: ['RB50392' 'QZ44356' 'AI49188' ... 'CW49887' 'MY31220' nan]
ST: ['Washington' 'Arizona' 'Nevada' 'California' 'Oregon' 'Cali' 'AZ' 'WA'
 nan]
GENDER: [nan 'F' 'M' 'Femal' 'Male' 'female']
Education: ['Master' 'Bachelor' 'High School or Below' 'College' 'Bachelors' 'Doctor'
 nan]
Number of Open Complaints: ['1/0/00' '1/2/00' '1/1/00' '1/3/00' '1/5/00' '1/4/00' nan]
Policy Type: ['Personal Auto' 'Corporate Auto' 'Special Auto' nan]
Vehicle Class: ['Four-Door Car' 'Two-Door Car' 'SUV' 'Luxury SUV' 'Sports Car'
 'Luxury Car' nan]

Range of Values for Numerical Columns:
       Customer Lifetime Value        Income  Monthly Premium Auto  \
count                      0.0   1071.000000           1071.000000
mean                       NaN  39295.701214            193.234360
std                        NaN  30469.427060           1601.190369
min                        NaN      0.000000             61.000000
25%                        NaN  14072.000000             68.000000
50%                        NaN  36234.000000             83.000000
75%                        NaN  64631.000000            109.500000
max                        NaN  99960.000000          35354.000000

       Total Claim Amount
count         1071.000000
mean           404.986909
std            293.027260
min              0.382107
25%            202.157702
50%            354.729129
75%            532.800000
max           2893.239678

In [9]:
# Define a function to clean the 'GENDER' column
def clean_gender(gender):
    if pd.isna(gender):
        return gender
    gender = gender.strip().lower()
    if gender in ['femal', 'female', 'f']:
        return 'F'
    elif gender == 'male':
        return 'M'
    elif gender == 'm':
        return 'M'
    return gender

# Apply the function to the 'GENDER' column
data['GENDER'] = data['GENDER'].apply(clean_gender)

# Verify the changes
print(data['GENDER'].unique())

# Save the cleaned DataFrame to a new CSV file
data.to_csv('cleaned_file1.csv', index=False)

[nan 'F' 'M']

In [10]:
data["GENDER"].nunique()

# Get the unique values in the 'ST' column
unique_values_gn = data['GENDER'].unique()
print(unique_values_gn)

[nan 'F' 'M']

In [11]:
# Define a function to clean the 'ST' column
def clean_st(state):
    if pd.isna(state):
        return state
    state = state.strip().lower()
    if state in ['cali', 'california']:
        return 'California'
    elif state in ['az', 'arizona']:
        return 'Arizona'
    elif state in ['wa', 'washington']:
        return 'Washington'
    return state.capitalize()

# Apply the function to the 'GENDER' column
data['ST'] = data['ST'].apply(clean_st)

# Verify the changes
print(data['ST'].unique())

# Save the cleaned DataFrame to a new CSV file
data.to_csv('cleaned_file1.csv', index=False)

['Washington' 'Arizona' 'Nevada' 'California' 'Oregon' nan]

In [12]:
data['ST'].nunique()

# Get the unique values in the 'ST' column
unique_values = data['ST'].unique()
print(unique_values)

['Washington' 'Arizona' 'Nevada' 'California' 'Oregon' nan]

In [13]:
data.describe()

,Customer Lifetime Value,Income,Monthly Premium Auto,Total Claim Amount
count,0.0,1071.000000,1071.000000,1071.000000
mean,NaN,39295.701214,193.234360,404.986909
std,NaN,30469.427060,1601.190369,293.027260
min,NaN,0.000000,61.000000,0.382107
25%,NaN,14072.000000,68.000000,202.157702
50%,NaN,36234.000000,83.000000,354.729129
75%,NaN,64631.000000,109.500000,532.800000
max,NaN,99960.000000,35354.000000,2893.239678

In [14]:
# Identify categorical columns
categorical_columns = data.select_dtypes(include=['object', 'category']).columns

# Compute summary statistics for categorical columns
summary_stats = data[categorical_columns].describe()

print("Summary Statistics for Categorical Columns:")
print(summary_stats)

Summary Statistics for Categorical Columns:
       Customer          ST GENDER Education Number of Open Complaints  \
count      1071        1071    954      1071                      1071
unique     1071           5      2         6                         6
top     RB50392  California      F  Bachelor                    1/0/00
freq          1         331    502       324                       830

          Policy Type  Vehicle Class
count            1071           1071
unique              3              6
top     Personal Auto  Four-Door Car
freq              780            576

## Challenge 2: analyzing the data

### Exercise 1

The marketing team wants to know the top 5 less common customer locations. Create a pandas Series object that contains the customer locations and their frequencies, and then retrieve the top 5 less common locations in ascending order.

In [16]:
# Your code here
# Create a Series object with customer locations and their frequencies
location_counts = data['ST'].value_counts()

# Retrieve the top 5 less common locations in ascending order
top_5_less_common_locations = location_counts.nsmallest(5)
print(top_5_less_common_locations)

ST
Nevada         98
Washington    111
Arizona       211
Oregon        320
California    331
Name: count, dtype: int64

### Exercise 2

The sales team wants to know the total number of policies sold for each type of policy. Create a pandas Series object that contains the policy types and their total number of policies sold, and then retrieve the policy type with the highest number of policies sold.

*Hint:*
- *Using value_counts() method simplifies this analysis.*
- *Futhermore, there is a method that returns the index of the maximum value in a column or row.*

In [17]:
# Your code here
# Create a Series object with policy types and their total number of policies sold
policy_counts = data['Policy Type'].value_counts()

# Retrieve the policy type with the highest number of policies sold
top_policy_type = policy_counts.idxmax()

print("Total number of policies sold for each type of policy:")
print(policy_counts)
print("\nPolicy type with the highest number of policies sold:")
print(top_policy_type)

Total number of policies sold for each type of policy:
Policy Type
Personal Auto     780
Corporate Auto    234
Special Auto       57
Name: count, dtype: int64

Policy type with the highest number of policies sold:
Personal Auto

### Exercise 3

The sales team wants to know if customers with Personal Auto have a lower income than those with Corporate Auto. How does the average income compare between the two policy types?

- Use *loc* to create two dataframes: one containing only Personal Auto policies and one containing only Corporate Auto policies.
- Calculate the average income for each policy.
- Print the results.

In [18]:
# Your code here

# Create two DataFrames: one for Personal Auto policies and one for Corporate Auto policies
personal_auto = data.loc[data['Policy Type'] == 'Personal Auto']
corporate_auto = data.loc[data['Policy Type'] == 'Corporate Auto']

# Calculate the average income for each policy type
average_income_personal_auto = personal_auto['Income'].mean()
average_income_corporate_auto = corporate_auto['Income'].mean()

# Print the results
print("Average Income for Personal Auto Policies:", average_income_personal_auto)
print("Average Income for Corporate Auto Policies:", average_income_corporate_auto)

Average Income for Personal Auto Policies: 38180.69871794872
Average Income for Corporate Auto Policies: 41390.31196581197

### Bonus: Exercise 4

Your goal is to identify customers with a high policy claim amount.

Instructions:

- Review again the statistics for total claim amount to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount data.

*Note: When analyzing data, we often want to focus on certain groups of values to gain insights. Percentiles are a useful tool to help us define these groups. A percentile is a measure that tells us what percentage of values in a dataset are below a certain value. For example, the 75th percentile represents the value below which 75% of the data falls. Similarly, the 25th percentile represents the value below which 25% of the data falls. When we talk about the top 25%, we are referring to the values that fall above the 75th percentile, which represent the top quarter of the data. On the other hand, when we talk about the bottom 25%, we are referring to the values that fall below the 25th percentile, which represent the bottom quarter of the data. By focusing on these groups, we can identify patterns and trends that may be useful for making decisions and taking action.*

*Hint: look for a method that gives you the percentile or quantile 0.75 and 0.25 for a Pandas Series.*

*Hint 2: check `Boolean selection according to the values of a single column` in https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9*

In [19]:
# Your code here
# Review the statistics for total claim amount
total_claim_stats = data['Total Claim Amount'].describe()
print("Statistics for Total Claim Amount:")
print(total_claim_stats)

# Calculate the 75th percentile (top 25% threshold)
claim_75th_percentile = data['Total Claim Amount'].quantile(0.75)
print("\n75th Percentile (Top 25% Threshold):", claim_75th_percentile)

# Create a DataFrame with customers having a policy claim amount greater than the 75th percentile
high_claim_customers = data.loc[data['Total Claim Amount'] > claim_75th_percentile]

# Calculate summary statistics for high policy claim amount data
high_claim_stats = high_claim_customers.describe()
print("\nSummary Statistics for High Policy Claim Amount Data:")
print(high_claim_stats)

Statistics for Total Claim Amount:
count    1071.000000
mean      404.986909
std       293.027260
min         0.382107
25%       202.157702
50%       354.729129
75%       532.800000
max      2893.239678
Name: Total Claim Amount, dtype: float64

75th Percentile (Top 25% Threshold): 532.8

Summary Statistics for High Policy Claim Amount Data:
       Customer Lifetime Value        Income  Monthly Premium Auto  \
count                      0.0    264.000000            264.000000
mean                       NaN  23677.344697            165.193182
std                        NaN  27013.483721            623.930992
min                        NaN      0.000000             63.000000
25%                        NaN      0.000000             99.000000
50%                        NaN  18807.000000            114.000000
75%                        NaN  42423.750000            133.250000
max                        NaN  99316.000000          10202.000000

       Total Claim Amount
count          264.000000
mean           782.228263
std            292.751640
min            537.600000
25%            606.521741
50%            679.597985
75%            851.400000
max           2893.239678